In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV saved and created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ust-Ilimsk,RU,2020-01-04 20:06:18,57.96,102.73,17.47,93,97,8.63
1,1,Cockburn Town,TC,2020-01-04 20:05:35,21.46,-71.14,80.60,69,40,11.41
2,2,Albany,US,2020-01-04 20:05:03,42.65,-73.75,42.80,86,90,6.93
3,3,Ushuaia,AR,2020-01-04 20:03:55,-54.81,-68.31,57.20,41,40,5.82
4,4,Gasa,BT,2020-01-04 20:06:19,27.91,89.73,2.66,98,98,7.29

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# 1. Assign the locations to an array of latitude and longitude pairs
# locations = [latitude, longitude]
locations = city_data_df[["Lat", "Lng"]]
locations

       Lat     Lng
0    57.96  102.73
1    21.46  -71.14
2    42.65  -73.75
3   -54.81  -68.31
4    27.91   89.73
..     ...     ...
551  30.30  -99.24
552  15.86  -97.07
553 -31.40  -58.02
554  58.30 -134.42
555  32.77 -108.28

[556 rows x 2 columns]

In [6]:
# 2. Assign the weight's variable to some values
# temperatures = # an array of equal length of the locations array.
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [11]:
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [17]:
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
#heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

In [18]:
# 5. Add the heatmap layer.
fig.add_layer(heat_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [24]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= 90) & \
                                       (city_data_df["Max Temp"] >= 75)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Cockburn Town,TC,2020-01-04 20:05:35,21.46,-71.14,80.60,69,40,11.41
5,5,Barrow,AR,2020-01-04 20:06:19,-38.31,-60.23,77.27,55,75,18.05
6,6,Hilo,US,2020-01-04 20:05:13,19.71,-155.08,75.20,73,40,3.36
7,7,Cayenne,GF,2020-01-04 20:06:20,4.94,-52.33,84.20,70,75,9.17
14,14,Puerto Ayora,EC,2020-01-04 20:06:21,-0.74,-90.35,86.00,58,20,13.87
17,17,Kapaa,US,2020-01-04 20:06:22,22.08,-159.32,75.20,88,90,19.46
24,24,Grand Gaube,MU,2020-01-04 20:06:23,-20.01,57.66,79.00,94,40,12.03
27,27,East London,ZA,2020-01-04 20:05:14,-33.02,27.91,76.12,93,48,11.74
29,29,Avarua,CK,2020-01-04 20:06:24,-21.21,-159.78,78.80,88,1,5.82
30,30,Salalah,OM,2020-01-04 20:06:24,17.01,54.10,77.00,73,20,10.29

In [25]:
preferred_cities_df.count()

City_ID       147
City          147
Country       147
Date          147
Lat           147
Lng           147
Max Temp      147
Humidity      147
Cloudiness    147
Wind Speed    147
dtype: int64

In [36]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df

                 City Country  Max Temp    Lat     Lng Hotel Name
1       Cockburn Town      TC     80.60  21.46  -71.14
5              Barrow      AR     77.27 -38.31  -60.23
6                Hilo      US     75.20  19.71 -155.08
7             Cayenne      GF     84.20   4.94  -52.33
14       Puerto Ayora      EC     86.00  -0.74  -90.35
..                ...     ...       ...    ...     ...        ...
548              Biak      ID     81.61  -0.91  122.88
549       Uttiramerur      IN     82.40  12.62   79.76
550         Kavaratti      IN     80.37  10.57   72.64
552  Puerto Escondido      MX     83.86  15.86  -97.07
553         Concordia      AR     82.40 -31.40  -58.02

[147 rows x 6 columns]

In [37]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [55]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

# Add the latitude and longitude to the params dictionary as values to the location key.
    params["location"] = f"{lat},{lng}"

# Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

In [56]:
hotel_df.head()

             City Country  Max Temp    Lat     Lng Hotel Name
1   Cockburn Town      TC     80.60  21.46  -71.14
5          Barrow      AR     77.27 -38.31  -60.23
6            Hilo      US     75.20  19.71 -155.08
7         Cayenne      GF     84.20   4.94  -52.33
14   Puerto Ayora      EC     86.00  -0.74  -90.35

In [61]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
             dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [49]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [53]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [54]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))