In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV saved and created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/WeatherPy_challenge.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description,Rain inches (last 3 hours),Snow inches (last 3 hours)
0,0,Busselton,AU,2020-01-05 09:02:19,-33.64,115.35,87.01,11,0,9.66,clear sky,0.0,0.0
1,1,Rikitea,PF,2020-01-05 09:02:20,-23.12,-134.97,75.65,74,55,17.20,broken clouds,0.0,0.0
2,2,Albany,US,2020-01-05 09:02:20,42.65,-73.75,35.60,59,90,19.46,overcast clouds,0.0,0.0
3,3,Guerrero Negro,MX,2020-01-05 09:02:20,27.97,-114.04,58.55,59,0,3.76,clear sky,0.0,0.0
4,4,Hobart,AU,2020-01-05 08:58:45,-42.88,147.33,64.40,45,20,9.17,few clouds,0.0,0.0

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 90

In [5]:
# Prompt the customer to answer if he or she would like it to be raining or not.
rain_ans = str(input("Do you want it to be raining? (yes/no) "))

Do you want it to be raining? (yes/no) no

In [6]:
# Prompt the customer to answer if he or she would like it to be snowing or not.
snow_ans = str(input("Do you want it to be snowing? (yes/no) "))

Do you want it to be snowing? (yes/no) no

In [7]:
# Filter the DataFrame for minimum and maximum temperature preferences.

if (rain_ans == "no" and snow_ans == "no"):
    preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp) & \
                                       (city_data_df["Rain inches (last 3 hours)"] <= 0) & \
                                       (city_data_df["Snow inches (last 3 hours)"] <= 0)]
elif (rain_ans == "no" and snow_ans == "yes"):
    preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp) & \
                                       (city_data_df["Rain inches (last 3 hours)"] <= 0) & \
                                       (city_data_df["Snow inches (last 3 hours)"] >= 0)] 
elif (rain_ans == "yes" and snow_ans == "no"):
    preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp) & \
                                       (city_data_df["Rain inches (last 3 hours)"] >= 0) & \
                                       (city_data_df["Snow inches (last 3 hours)"] <= 0)] 
else:
    preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp) & \
                                       (city_data_df["Rain inches (last 3 hours)"] >= 0) & \
                                       (city_data_df["Snow inches (last 3 hours)"] >= 0)]

preferred_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description,Rain inches (last 3 hours),Snow inches (last 3 hours)
0,0,Busselton,AU,2020-01-05 09:02:19,-33.64,115.35,87.01,11,0,9.66,clear sky,0.0,0.0
1,1,Rikitea,PF,2020-01-05 09:02:20,-23.12,-134.97,75.65,74,55,17.20,broken clouds,0.0,0.0
9,9,Cockburn Town,TC,2020-01-05 09:02:21,21.46,-71.14,76.89,67,35,5.35,scattered clouds,0.0,0.0
11,11,East London,ZA,2020-01-05 09:02:22,-33.02,27.91,73.40,94,90,17.22,overcast clouds,0.0,0.0
13,13,Arraial Do Cabo,BR,2020-01-05 09:02:23,-22.97,-42.02,73.40,100,75,3.36,broken clouds,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
511,511,Bakel,SN,2020-01-05 09:04:18,14.90,-12.46,67.06,15,0,17.11,clear sky,0.0,0.0
512,512,Radhanpur,IN,2020-01-05 09:04:18,23.83,71.61,78.58,27,0,9.62,clear sky,0.0,0.0
521,521,Mareeba,AU,2020-01-05 09:04:20,-16.99,145.42,82.99,69,75,10.29,broken clouds,0.0,0.0
524,524,Wangaratta,AU,2020-01-05 09:04:21,-36.36,146.32,66.00,67,75,5.82,light intensity shower rain,0.0,0.0
531,531,Mogadishu,SO,2020-01-05 09:04:22,2.04,45.34,86.00,62,20,17.22,few clouds,0.0,0.0

In [8]:
preferred_cities_df.count()

City_ID                       174
City                          174
Country                       170
Date                          174
Lat                           174
Lng                           174
Max Temp                      174
Humidity                      174
Cloudiness                    174
Wind Speed                    174
Weather Description           174
Rain inches (last 3 hours)    174
Snow inches (last 3 hours)    174
dtype: int64

In [9]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, current description, coordinates, and hotel name.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,Busselton,AU,87.01,clear sky,-33.64,115.35,
1,Rikitea,PF,75.65,broken clouds,-23.12,-134.97,
9,Cockburn Town,TC,76.89,scattered clouds,21.46,-71.14,
11,East London,ZA,73.40,overcast clouds,-33.02,27.91,
13,Arraial Do Cabo,BR,73.40,broken clouds,-22.97,-42.02,
...,...,...,...,...,...,...,...
511,Bakel,SN,67.06,clear sky,14.90,-12.46,
512,Radhanpur,IN,78.58,clear sky,23.83,71.61,
521,Mareeba,AU,82.99,broken clouds,-16.99,145.42,
524,Wangaratta,AU,66.00,light intensity shower rain,-36.36,146.32,
531,Mogadishu,SO,86.00,few clouds,2.04,45.34,

In [10]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [21]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to the params dictionary as values to the location key.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [22]:
hotel_df

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,Busselton,AU,87.01,clear sky,-33.64,115.35,Observatory Guest House
1,Rikitea,PF,75.65,broken clouds,-23.12,-134.97,Pension Maro'i
9,Cockburn Town,TC,76.89,scattered clouds,21.46,-71.14,Osprey Beach Hotel
11,East London,ZA,73.40,overcast clouds,-33.02,27.91,Tu Casa
13,Arraial Do Cabo,BR,73.40,broken clouds,-22.97,-42.02,Pousada Porto Praia
...,...,...,...,...,...,...,...
511,Bakel,SN,67.06,clear sky,14.90,-12.46,Hôtel islam
512,Radhanpur,IN,78.58,clear sky,23.83,71.61,YASH HOTEL
521,Mareeba,AU,82.99,broken clouds,-16.99,145.42,Mareeba Country Caravan Park
524,Wangaratta,AU,66.00,light intensity shower rain,-36.36,146.32,Quality Hotel Wangaratta Gateway
531,Mogadishu,SO,86.00,few clouds,2.04,45.34,Olympic Hotel

In [23]:
# Create the output file (CSV).
output_data_file = "weather_data/hotel_data_list.csv"
# Export the City_Data into a CSV.
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [24]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
             dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [27]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [28]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))