In [3]:
# Import the dependencies.
import pandas as pd
import gmaps
import gmaps.datasets
import requests
# Import the API key.
from config import g_key

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [17]:
# Store the CSV saved and created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/WeatherPy_vacation.csv")
city_data_df

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,0,Busselton,AU,87.01,clear sky,-33.64,115.35,Observatory Guest House
1,1,Rikitea,PF,75.65,broken clouds,-23.12,-134.97,Pension Maro'i
2,9,Cockburn Town,TC,76.89,scattered clouds,21.46,-71.14,Osprey Beach Hotel
3,11,East London,ZA,73.40,overcast clouds,-33.02,27.91,Tu Casa
4,13,Arraial Do Cabo,BR,73.40,broken clouds,-22.97,-42.02,Pousada Porto Praia
...,...,...,...,...,...,...,...,...
169,511,Bakel,SN,67.06,clear sky,14.90,-12.46,Hôtel islam
170,512,Radhanpur,IN,78.58,clear sky,23.83,71.61,YASH HOTEL
171,521,Mareeba,AU,82.99,broken clouds,-16.99,145.42,Mareeba Country Caravan Park
172,524,Wangaratta,AU,66.00,light intensity shower rain,-36.36,146.32,Quality Hotel Wangaratta Gateway
173,531,Mogadishu,SO,86.00,few clouds,2.04,45.34,Olympic Hotel

In [33]:
San_Marcos_df = city_data_df.loc[(city_data_df["City"] == "San Marcos")] 
San_Marcos_df

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
149,449,San Marcos,GT,71.6,clear sky,14.97,-91.79,Hospedaje La Villa

In [34]:
Acajutla_df = city_data_df.loc[(city_data_df["City"] == "Acajutla")] 
Acajutla_df

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
51,141,Acajutla,SV,69.01,clear sky,13.59,-89.83,Villavela Hotel Boutique

In [35]:
Zaragoza_df = city_data_df.loc[(city_data_df["City"] == "Zaragoza")] 
Zaragoza_df

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
18,52,Zaragoza,SV,78.8,clear sky,13.59,-89.29,Auto Hotel River Zaragoza

In [36]:
Amapa_df = city_data_df.loc[(city_data_df["City"] == "Amapa")] 
Amapa_df

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
66,179,Amapa,HN,71.6,overcast clouds,15.09,-87.97,Incubadora GAHSA

In [37]:
Laguna_df = city_data_df.loc[(city_data_df["City"] == "Laguna")] 
Laguna_df

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
56,164,Laguna,BZ,71.6,broken clouds,16.17,-88.94,Laguna Maya Lodge

In [38]:
vacation_cities_df = city_data_df.loc[city_data_df["City"].isin(["San Marcos", "Acajutla", "Zaragoza", "Amapa", "Laguna"])]
vacation_cities_df

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
18,52,Zaragoza,SV,78.80,clear sky,13.59,-89.29,Auto Hotel River Zaragoza
51,141,Acajutla,SV,69.01,clear sky,13.59,-89.83,Villavela Hotel Boutique
56,164,Laguna,BZ,71.60,broken clouds,16.17,-88.94,Laguna Maya Lodge
66,179,Amapa,HN,71.60,overcast clouds,15.09,-87.97,Incubadora GAHSA
149,449,San Marcos,GT,71.60,clear sky,14.97,-91.79,Hospedaje La Villa

In [39]:
# Create latitude and longitude pairs.
vacation_cities_lng_lat = vacation_cities_df[["Lat", "Lng"]]
vacation_cities_tuple = [tuple(x) for x in vacation_cities_lng_lat.values]
vacation_cities_tuple

[(13.59, -89.29),
 (13.59, -89.83),
 (16.17, -88.94),
 (15.09, -87.97),
 (14.97, -91.79)]

In [40]:
# Create latitude and longitude for Zaragoza
Zaragoza_lng_lat = Zaragoza_df[["Lat", "Lng"]]
Zaragoza_tuple = [tuple(x) for x in Zaragoza_lng_lat.values]
Zaragoza_tuple

[(13.59, -89.29)]

In [41]:
# Create latitude and longitude for Acajutla
Acajutla_lng_lat = Acajutla_df[["Lat", "Lng"]]
Acajutla_tuple = [tuple(x) for x in Acajutla_lng_lat.values]
Acajutla_tuple

[(13.59, -89.83)]

In [42]:
# Create latitude and longitude for Laguna
Laguna_lng_lat = Laguna_df[["Lat", "Lng"]]
Laguna_tuple = [tuple(x) for x in Laguna_lng_lat.values]
Laguna_tuple

[(16.17, -88.94)]

In [43]:
# Create latitude and longitude for Amapa
Amapa_lng_lat = Amapa_df[["Lat", "Lng"]]
Amapa_tuple = [tuple(x) for x in Amapa_lng_lat.values]
Amapa_tuple

[(15.09, -87.97)]

In [44]:
# Create latitude and longitude for San Marcos
San_Marcos_lng_lat = San_Marcos_df[["Lat", "Lng"]]
San_Marcos_tuple = [tuple(x) for x in San_Marcos_lng_lat.values]
San_Marcos_tuple

[(14.97, -91.79)]

In [47]:
# Create a direction map.
Zaragoza = (13.59, -89.29)
Acajutla = (13.59, -89.83)
Laguna = (16.17, -88.94)
Amapa = (15.09, -87.97)
San_Marcos = (14.97, -91.79)
# Driving directions to each of the 5 cities.
fig = gmaps.figure()
driving_directions = gmaps.directions_layer(Laguna, San_Marcos, waypoints=[Amapa, Zaragoza, Acajutla], travel_mode="DRIVING")
fig.add_layer(driving_directions)
fig

Figure(layout=FigureLayout(height='420px'))

In [48]:
# Set the information box categories.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Weather Description} and {Max Temp} °F</dd>
</dl>
"""

In [49]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in vacation_cities_df.iterrows()]

In [51]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = vacation_cities_df[["Lat", "Lng"]]
current_weather = vacation_cities_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))